.e-content{
	table{
		width:100%;
		text-align:center;
	}
}
thead{
	background:#ccc;
}
.el-table thead{
	tr{
		border:1px solid #bbb;
		th{
			border:1px solid #bbb;
		}
	}
}
.el-table__header-wrapper{
	border-bottom:1px solid #ccc;
}
.el-dialog{
	z-index:5000 !important;
}
.v-modal{
	display:none;
}